button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/* 鼠标悬浮时 背景色变为蓝色 */
button:hover {
    background-color: blue;
    /* blue */
}